/* ****************************** */
/* HEADER */
/* ****************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7dde8;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 2.2rem;
}

/* ****************************** */
/* NAVIGATION */
/* ****************************** */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #e48db2;
}

.hero-section {
  background-color: #bceae2;
  padding: 4.8rem 0 9.6rem 0;
  margin-bottom: 6.4rem;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}
.primary-heading {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.hero-desc {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-img {
  width: 100%;
  border-radius: 9px;
}

/* ****************************** */
/* MENU */
/* ****************************** */
.menu-section {
  padding: 9.6rem 0;
  margin-bottom: 100px;
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  margin-bottom: 9.6rem;
  margin-bottom: 4.8rem !important;
  padding: 4.8rem;
}
.best-seller {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  width: 33rem;
}
.best-seller-attribute {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.best-seller-attributes {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.best-seller-attributes:last-child {
  margin-bottom: 3rem;
}
.menu-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.list-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}
.list-item:last-child {
  margin-bottom: 2rem;
}
ion-icon {
  color: #46a292;
  font-size: 1.8rem;
}

.menu-img-wrap {
  width: 33rem;
  height: 33rem;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.best-seller.one .menu-img-wrap {
  background-image: url(/content/img/brownie.jpeg);
}
.best-seller.two .menu-img-wrap {
  background-image: url(/content/img/cookies.jpg);
}
.menu-img {
  max-width: 100%;
}
.best-seller-content {
  padding: 4.8rem;
}

.menu-tags {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: gold;
  color: #333;
  letter-spacing: 1.2;
  border-radius: 100px;
  font-weight: 600;
  margin-top: 1.2rem;
}
.best-seller:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.045);
}
.secondary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.tertiary-heading {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

/* ****************************** */
/* TESTIMONIAL */
/* ****************************** */
